/* By code Manh cuong */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --xcolor: #6c5ce7;
    --vcolor: #ff6b6b;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {
    scroll-behavior: smooth;
    background: #111;
    color: #111;
}

/* Layout */
.code {
    background: white;
    width: 500px;
    height: auto;
    border: 4px solid white;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    left: 650px;
}


/* menu */
.menu {
    width: 500px;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.menu>li>span {
    display: block;
    text-align: center;
    font: 700;
    font-size: 14px;
    font-family: bold;
    font-weight: 7000;
    cursor: pointer;
    transition-duration: .4s;
}

.menu>li:hover>span {
    color: crimson;
}

.menu>li:hover>i {
    color: crimson;
}

.menu>li {
    text-align: center;
}

/* corw */
.corw {
    height: auto;
}

.head-rw {
    margin-top: 1rem;
    padding-left: .5rem;
}

.head-rw>h3 {
    font: 700;
    font-size: 17px;
    font-family: bold;
    font-weight: 7000;
}

/* layout */
.layout {
    margin-top: 1rem;
    padding: 0;
}

/* head */
.head {
    width: 500px;
    height: 300px;
    background-image: url("../Imgate/avatar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* benner */
.benner {
    height: auto;
    margin: 0 auto;
}

.item {
    margin-top: -2.2rem;
    margin-left: 1rem;
    display: flex;
}

/* avatar */
.avatar {
    width: 100px;
    height: 100px;
    border: 4px solid white;
    border-radius: 100%;
}

.avatar>img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

/* name */
.name {
    margin-top: 2.5rem;
    margin-left: .5rem;
}

.name>h1 {
    color: #212121;
    font: 7;
    font-size: 25px;
    font-family: bold;
    font-weight: 700;
}

.name>h1>i {
    font-size: 15px;
    color: #0099ff;
}

/* canner */
.canner {
    margin-top: 1rem;
}

.canner_item {
    margin-left: .3rem;
}

.canner_item>h4 {
    font: 7;
    font-size: 17px;
    font-family: bold;
    font-weight: 700;
}

/* chitiet */
.chitiet {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.chitiet > li {
margin-top: 1rem;
}

.chitiet>li>span {
    color: #212121;
    font: 700;
    font-size: 14px;
    font-family: bold;
    font-weight: 7000;
}

.chitiet>li>span>b {
    color: #212121;
    font: 700;
    font-size: 14px;
    font-family: bold;
    font-weight: 7000;
}

#audiolist {
    display: none;
}

.chitiet>li>span>a {
    color: crimson;
    font: 700;
    font-size: 14px;
    font-family: bold;
    font-weight: 700;
    cursor: pointer;
}

.chitiet>li>span>p {
    color: crimson;
    font: 700;
    font-size: 14px;
    font-family: bold;
    font-weight: 700;
    cursor: pointer;
}

/* Senbody */
.Senbody {
    width: 500px;
    height: 300px;
}

#idlog-baiviet {
    width: 500px;
    height: 300px;
    overflow-y: scroll;
    display: none;
}

.tabidlog {
    width: 350px;
    border: 2px solid #fff;
    border-radius: 5px;
    height: auto;
    box-shadow: 0 0 2px #cccccc;
    margin-bottom: 1rem;
    margin-left: .3rem;
}

.box {
    display: flex;
}

.avatars {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 4px solid white;
}

.avatars>img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.names {
    margin-top: 1rem;
}

.names>h1 {
    font-size: 13px;
    font: 700;
    font-family: bold;
    font-weight: 700;
    color: #212121;
}

.names>h1>i {
    color: #0099ff;
    font-size: 13px;
}

.names>p {
    color: #212121;
    font: 700;
    font-size: 11.1px;
    font-family: bold;
    font-weight: 7000;
}

.text {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.text>p {
    color: #0099ff;
    font: 700;
    font-size: 14px;
    font-family: bold;
    font-weight: 7000;
}

.imgs {
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;
}

.imgs>div>img {
    width: 100px;
    border-radius: 5px;
}

/* <!-- thong tin  --> */
#idlog-thongtin {
    margin-top: 2rem;
}

.tieude {
    display: flex;
    flex-wrap: wrap;
    /* text-align: center; */
    width: 450px;
}

.tieude>h4 {
    color: #212121;
    font: 700;
    font-size: 14px;
    font-family: bold;
    font-weight: 70;
    padding-left: .3rem;
}

.kynang {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.kynang>h2 {
    color: #ff6b6b;
    font: 700;
    font-size: 15px;
    font-family: bold;
    font-weight: 700;
}

.Btn {
    margin-left: 1rem;
}

.Btn>button {
    width: 100px;
    height: 30px;
    background: none;
    border: 1.5px solid var(--vcolor);
    padding: 2px;
    border-radius: 5px;
    margin-top: .5rem;
    color: var(--vcolor);
    font: 700;
    font-size: 16px;
    font-family: bold;
    font-weight: 700;
}

.mangxahoi {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mangxahoi>h2 {
    color: var(--vcolor);
    font: 700;
    font-size: 15px;
    font-family: bold;
    font-weight: 700;
    padding-left: 1rem;
}

.link {
    margin-left: 1rem;
}

.link>button {
    width: 100px;
    height: 30px;
    border: 1.5px solid var(--vcolor);
    background: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.link>button:hover {
    background: var(--vcolor);
    box-shadow: 0 0 2px var(--vcolor);
}

.link>button:hover>a {
    color: #fff;
}

.link>button>a {
    color: var(--vcolor);
    font: 700;
    font-size: 17px;
    font-family: bold;
    font-weight: 700;
}

.dichvu {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: none;
}

.tieude_cacdichvu {
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.tieude_cacdichvu>h2 {
    color: var(--vcolor);
    font: 700;
    font-size: 17px;
    font-family: bold;
    font-weight: 700;
}

.ds {
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.ds>li {
    margin-top: 1rem;
}

.ds>li>span {
    color: var(--vcolor);
    font: 700;
    font-size: 17px;
    font-family: bold;
    font-weight: 700;
}

.loinoi {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.loinoi>span {
    color: var(--vcolor);
    font: 700;
    font-size: 15px;
    font-family: bold;
    font-weight: 70;
}

.donnanet {
    margin-top: 1rem;
    display: none;
}

.tieude_atm {
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.tieude_atm>h2 {
    color: var(--vcolor);
    font: 700;
    font-size: 17px;
    font-family: bold;
    font-weight: 700;
}

.atm {
    margin-top: 1rem;
    margin-left: 1rem;
}

.atm>li {
    margin-top: .5rem;
}

.atm>li>b {
    color: var(--vcolor);
    font: 700;
    font-size: 17px;
    font-family: bold;
    font-weight: 700;
}

.atm>li>b>span {
    color: var(--vcolor);
    font: 700;
    font-size: 14px;
    font-family: bold;
    font-weight: 700;
}

.play_zalo {
    margin-top: 1rem;
}

.zalo-play {
    margin-bottom: 1rem;
}

.zalo-play>h2 {
    color: var(--vcolor);
    font: 700;
    font-size: 14px;
    font-family: bold;
    font-weight: 700;
    padding-left: 1rem;
}

.igQR {
    float: right;
    margin-right: 3rem;
    margin-top: -5.5rem;
}

.igQR>img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

/* ======================= */
.otgg {
    display: block;
    transition-duration: 0.6s;
}

.otg {
    display: none;
    transition-duration: 0.6s;
}

/* ============================ */

/* iPad */
@media screen and (min-width: 1023px) and (max-width: 1365px) {
    .code {
        background: white;
        width: 500px;
        height: auto;
        border: 4px solid white;
        border-radius: 5px;
        position: fixed;
        top: 120px;
        left: 230px;
    }
}

/* Mobile 1 */
@media screen and (min-width: 400px) and (max-width: 767px) {
   .code {
        background: white;
        width: 400px;
        height: auto;
        border: 4px solid white;
        border-radius: 5px;
        position: fixed;
        top: 20px;
        left: 20px;
    }
    
    .menu {
    width: 400px;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.head {
    width: 400px;
    height: 300px;
    background-image: url("../Imgate/avatar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Senbody {
    width: 400px;
    height: 300px;
}

#idlog-baiviet {
    width: 400px;
    height: 300px;
    overflow-y: scroll;
    display: none;
}
}

/* Mobile 2*/
@media (max-width: 400px) {
    .code {
        background: white;
        width: 100vw;
        height: auto;
        border: 4px solid white;
        border-radius: 5px;
        position: fixed;
        top: 0px;
        left: 0px;
    }
    
    .menu {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.head {
    width: 100vw;
    height: 300px;
    background-image: url("../Imgate/avatar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Senbody {
    width: 100vw;
    height: 300px;
}

#idlog-baiviet {
    width: 100vw;
    height: 300px;
    overflow-y: scroll;
    display: none;
}

.tieude {
    display: flex;
    flex-wrap: wrap;
    /* text-align: center; */
    width: 100vw;
}

.Btn {
    margin-left: 0;
}

.link {
    margin-left: 0;
}

.ds {
    padding-left: .3rem;
    margin-bottom: .3rem;
    overflow-y: scroll;
    margin-top: -2rem;
}

.dichvu {
    margin-top: .2rem;
    margin-bottom: 2rem;
    display: none;
}

.atm {
    margin-top: -1rem;
    margin-left: 1rem;
}

.igQR {
    float: right;
    margin-right: 3rem;
    margin-top: -2.5rem;
}

.igQR>img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
}